<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RamsarNBNTool-20130417010815;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-RamsarNBNTool-20130417010815.mdf"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime/>
  </system.web>
</configuration>